@charset "UTF-8";
body{
	height:100%;
	background-color: rgb(50,50,50);
	padding-left: 200px;
}
#container{}
#container>div:first-child{
        width: 1000px;
        height: 800px;
        margin: 0px auto;
        background-color: rgb(35,35,35);
        border: 0px solid;
        border-radius: 10px;
    }
#section{
        clear: both;
	}