<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
  <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>headerSetting</filter-name>
  	<filter-class>com.bit.ksh.filter.HeaderSetting</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>headerSetting</filter-name>
  	<url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>oneforall</servlet-name>
  	<servlet-class>com.bit.framework.web.DispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>oneforall</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>
